* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #041e42;
  --main-text-color: #fff;
  --main-accent-color: #ffcd29;
  --main-second-accent-color: #dd975b;
  --secondry-text-color: #707c87;
  --third-text-color: #ef262c;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@font-face {
  font-family: iransans;
  src: url(./assets/iransans.ttf);
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: iransans;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  direction: rtl;
}

.top-head {
  display: flex;
  padding: 20px 150px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logo {
  font-size: 35px;
  gap: 4px;
  display: flex;
  align-items: center;
  color: var(--main-accent-color);
}

.header-options {
  display: flex;
  gap: 25px;
  margin-right: auto;
  align-items: center;
}

.HeaderOption {
  display: flex;
  gap: 10px;
}

.HeaderOptionIcon {
  font-size: 30px;
  color: var(--secondry-text-color);
}
.HeaderOptionContent {
  font-size: 10px;
  line-height: 1.5;
}

.search-product {
  height: 35px;
  display: flex;
  gap: 5px;
}

.search-product input {
  width: 600px;
  border-radius: 2px;
  border: none;
  padding-right: 15px;
  font-family: iransans;
}

.search-product button {
  width: 100px;
  border-radius: 2px;
  border: none;
  background-color: var(--main-accent-color);
  color: var(--main-text-color);
  font-family: iransans;
  font-size: 13px;
}

.nav__user-tophead {
  display: none;
}

@media (max-width: 1115px) {
  .header-options {
    display: none;
  }
  .search-product input {
    width: 100%;
    border: 1px solid red;
  }
  .search-product {
    width: 40%;
  }
  .logo {
    width: 40%;
  }
  .top-head {
    padding: 25px;
  }
}

@media (max-width: 950px) {
  .logo {
    width: 25%;
  }
  .search-product {
    width: 50%;
  }
  .top-head {
    gap: 5px;
    justify-content: space-around;
  }
  .nav__user-tophead {
    display: flex;
    width: 15%s;
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .search-product input {
    display: none;
  }

  .search-product button {
    display: none;
  }
  .logo {
    width: 40%;
  }
  .nav__user-tophead {
    width: 50% !important;
  }
}

/*-----NAV-----*/

.nav {
  background-color: var(--main-bg-color);
  display: flex;
  padding: 0px 150px;
  gap: 15px;
  height: 50px;
  border-top: 1px solid #40464c;
  border-bottom: 1px solid #40464c;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 11px;
}

.nav__list {
  width: 70%;
  border-left: 1px solid #40464c;
}

.nav-item a {
  text-decoration: none;
  color: var(--main-text-color);
}
.nav-item {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav-item__active {
  width: 0%;
  height: 2px;
  background-color: #ffcd29;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: 0.5s width;
}

.nav-item:hover .nav-item__active {
  width: 100%;
}

.nav button {
  height: 100%;
  color: #fff;
  background-color: var(--main-accent-color);
  border: none;
  font-family: iransans;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-nav__icon {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 30px;
  align-items: center;
  height: 100%;
}

.user-nav__counter {
  position: absolute;
  background-color: var(--main-accent-color);
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: -3px;
  color: var(--main-bg-color);
  font-weight: bold;
}

.nav__user {
  width: 20%;
}

.modal-btns {
  display: flex;
}

.search-modal-open {
  display: none !important;
}

@media (max-width: 1250px) {
  .nav {
    padding: 0px 25px;
  }
}
@media (max-width: 1050px) {
  .nav-item {
    width: 50px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .nav .nav__user {
    display: none;
  }
  .nav .nav__list {
    border: none;
    justify-content: space-around;
    gap: 0;
    width: 80%;
  }
  .nav-item {
    width: 70px;
  }
}

@media (max-width: 700px) {
  .nav {
    justify-content: space-between;
  }
  .nav__list {
    display: none !important;
  }
  .search-modal-open {
    display: flex !important;
    background: none !important;
    font-size: 25px;
    width: 50px !important;
  }
}

/*-------LANDING PAGE--------*/

.landing-page__hero {
  display: block;
  width: 100%;
  height: 600px;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 10px;
}

.landing-page__hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .landing-page__hero {
    height: 500px;
  }
}

main {
  width: 95%;
  margin: 0 auto;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  right: 7px;
  background-color: var(--main-text-color);
  z-index: 2;
}

.brands {
  display: flex;
  height: 100px;
  justify-content: flex-start;

  flex-wrap: nowrap;
  width: 4000px;
  position: absolute;
  left: 0;
  animation: brands-slide 100s infinite forwards linear;
}

@keyframes brands-slide {
  0% {
    left: 0px;
  }
  100% {
    left: -2000px;
  }
}
.brand {
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.animation-brands {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  max-width: 1300px;
  height: 100px;
  position: relative;
}
.animation-brands::-webkit-scrollbar {
  display: none;
}
.top-trends {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  gap: 15px;
}

.top-trends img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .top-trends {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
  }
}

.best-sellers {
  width: 100vw;
  text-align: center;
  margin-top: 25px;
}

.best-sellers h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.best-sellers__headers {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.best-sellers__btn {
  border: none;
  font-family: iransans;
  background-color: #fff;
  transition: 0.2s border-bottom;
}
.best-sellers__btn-active {
  border-bottom: 5px solid var(--main-accent-color);
}

.best-sellers__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  padding: 25px 0px;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.product404 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
  grid-column: span 10;
  flex-direction: column-reverse;
  grid-row: span 10;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.error-icon {
  font-size: 45px;
  color: var(--main-accent-color);
}

.best-product {
  width: 100%;
  height: 100%;
  padding: 20px;
  direction: rtl;
  background-color: var(--main-text-color);
  border-radius: 15px;
  max-width: 380px;
}

.best-product__title {
  font-size: 14px;
  height: 50px;
}

.best-product__figure {
  width: 100%;
  height: 200px;
  padding: 20px;
  position: relative;
}

.best-product__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.best-product__offer {
  position: absolute;
  background-color: var(--main-bg-color);
  padding: 15px;
  border-radius: 50%;
  color: var(--main-accent-color);
  left: 25px;
  bottom: 50px;
}
.star-rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  color: var(--main-second-accent-color);
  font-size: 23px;
}

.best-product-rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.rate-number {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #707c87;
}

.best-product__condition {
  font-size: 11px;
}

.best-product__footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.best-product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.off-price {
  font-size: 13px;
  text-decoration: line-through;
  color: var(--secondry-text-color);
  margin-bottom: -6px;
}
.on-price {
  color: var(--third-text-color);
}

.best-product__buy-link {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  color: var(--main-bg-color);
}

.best-sellers__products-container {
  width: 100vw;
  background-color: #ededed;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 900px) {
  .best-sellers__products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 650px) {
  .best-sellers__products {
    grid-template-columns: 1fr;
  }
}

.last-dealers {
  margin-top: 150px;
  width: 100vw;
  text-align: center;
}
.last-dealers h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.last-dealers__headers {
  display: grid;
  width: 80%;
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.last-dealers__btn {
  border: none;
  font-family: iransans;
  background-color: #fff;
  transition: 0.2s border-bottom;
}
.last-dealers__btn-active {
  border-bottom: 5px solid var(--main-accent-color);
}

.last-dealers__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  place-items: center;
  padding: 25px 0px;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.last-dealers__products-container {
  width: 100vw;
  background-color: #ededed;
  padding-right: 25px;
  padding-left: 25px;
}

.last-dealer-product {
  background-color: var(--main-text-color);
  padding: 45px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

.last-dealer-product__figure {
  width: 100%;
  height: 70%;
}
.last-dealer-product__figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.last-dealer-product:first-child {
  grid-row: span 2;
  grid-column: span 2;
}

.last-dealer-product__title {
  font-size: 12px;
}
.last-dealer-product:hover .last-dealer-product__btns {
  opacity: 1;
  transform: translate(0px, 0px);
}

.last-dealer-product__btns {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  gap: 70px;
  opacity: 0;
  transition: 0.2s opacity, 0.5s transform;
  transform: translate(0px, 10px);
}

.last-dealer-product-btn {
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 25px;
  border: none;
  transition: 0.2s color;
  color: #041e42;
}
.last-dealer-product-btn:hover {
  color: #ef262c;
}

.last-dealers__products-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

@media (max-width: 900px) {
  .last-dealers__products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

.sevice-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 50px;
  direction: rtl;
  margin-bottom: 50px;
  column-gap: 25px;
}

.service {
  display: flex;
  align-items: center;
  gap: 20px;
}

.service__icon {
  font-size: 60px;
  color: #0070dc;
}
.service__title {
  font-size: 14px;
}
.service__description {
  font-size: 11px;
  color: var(--secondry-text-color);
}

@media (max-width: 1500px) {
  .sevice-options {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 25px;
    column-gap: 150px;
  }
}
@media (max-width: 900px) {
  .sevice-options {
    column-gap: 50px;
  }
}
@media (max-width: 710px) {
  .sevice-options {
    grid-template-columns: 1fr;
    grid-row: auto auto auto auto;
  }
  .service {
    gap: 50px;
  }
  .service__icon {
    font-size: 70px;
  }
}

.newsletters-signup {
  min-height: 150px;
  background-color: var(--main-bg-color);
  width: 100vw;
  color: var(--main-text-color);
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
}

.newsletters-signup__title {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}
.newsletters-signup__description {
  font-size: 15px;
  color: var(--secondry-text-color);
}
.newsletters-signup__description span {
  color: var(--main-accent-color);
}

.newsletters-signup__form {
  display: flex;
  height: 50px;
  max-width: 500px;
  width: 50%;
}

.newsletters-signup__form input {
  width: 80%;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-family: iransans;
}
.newsletters-signup__form button {
  width: 20%;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
  font-family: iransans;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .newsletters-signup {
    flex-direction: column;
    gap: 50px;
    padding: 80px 25px;
    text-align: center;
  }
  .newsletters-signup > * {
    width: 100%;
  }
  .newsletters-signup__title {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .newsletters-signup__description {
    font-size: 13px;
  }
}

.footer {
  padding: 50px 50px 30px 50px;
  border-top: 1px solid #dcdddf;
  background-color: var(--main-bg-color);
}

.footer__site-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-map-list {
  list-style: none;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.site-map-list h4 {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 15px;
  color: #fff;
}

.site-map-list a {
  text-decoration: none;
  color: var(--secondry-text-color);
  font-size: 12px;
}

@media (max-width: 930px) {
  .footer__site-map {
    grid-template-columns: 50% 50%;
    row-gap: 50px;
  }
  .site-map-list {
    margin: 0 0;
  }
}
@media (max-width: 600px) {
  .footer__site-map {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

.footer__contact {
  display: flex;
  justify-content: space-around;
  direction: rtl;
  align-items: center;
  padding: 100px 0px;
  border-bottom: 1px solid #707c87;
}

.footer-logo {
  color: var(--main-accent-color);
  font-size: 70px;
}

.social-media-links {
  display: flex;
  list-style: none;
  font-size: 30px;
  gap: 15px;
  color: var(--main-accent-color);
}

.footer__copy-right {
  direction: rtl;
  text-align: center;
  padding-top: 30px;
  font-size: 13px;
  color: var(--main-accent-color);
}

.page-address {
  direction: rtl;
  padding: 5px 10px;
  font-size: 11px;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #a6adb3;
  margin-bottom: 7px;
}

.head-menu {
  display: flex;
  direction: rtl;
  font-size: 11px;
  padding: 5px 10px;
  gap: 15px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.head-menu select {
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  font-family: iransans;
  font-size: 10px;
}

.product-counter {
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 0px 0px 170px;
}

.mobile-page-product-container,
.laptop-page-product-container,
.tv-page-product-container,
.headphone-page-product-container {
  width: 100vw;
  height: auto;
  background-color: var(--main-accent-color);
  padding: 20px;
}

.mobile-page__products,
.laptop-page__products,
.tv-page__products,
.headphone-page__products {
  height: auto;
  display: grid;
  grid-template-columns: 330px 1fr;
  direction: rtl;
  margin: 0 auto;
  max-width: 1200px;
  gap: 5px;
  width: 100%;
  position: relative;
}

.mobile-page__products-side-menu,
.laptop-page__products-side-menu,
.tv-page__products-side-menu,
.headphone-page__products-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: sticky;
  top: 15px;
  height: 90vh;
}

.mobile-page__products-side-menu > *,
.laptop-page__products-side-menu > *,
.tv-page__products-side-menu > *,
.headphone-page__products-side-menu > * {
  width: 100%;
  font-size: 12px;
  padding-bottom: 25px;
}

.mobile-page__products-side-menu .filter-by,
.laptop-page__products-side-menu .filter-by,
.tv-page__products-side-menu .filter-by,
.headphone-page__products-side-menu .filter-by {
  overflow: hidden;
  transition: 0.5s height;
  margin-bottom: 10px;
}
.mobile-page__products-side-menu .filter-by-open,
.laptop-page__products-side-menu .filter-by-open,
.tv-page__products-side-menu .filter-by-open,
.headphone-page__products-side-menu .filter-by-open {
  height: 150px;
}
.mobile-page__products-side-menu .filter-by-close,
.laptop-page__products-side-menu .filter-by-close,
.tv-page__products-side-menu .filter-by-close,
.headphone-page__products-side-menu .filter-by-close {
  height: 20px;
}

.mobile-page__products-side-menu .filter-by p,
.laptop-page__products-side-menu .filter-by p,
.tv-page__products-side-menu .filter-by p,
.headphone-page__products-side-menu .filter-by p {
  padding-bottom: 10px;
  font-size: 13px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.mobile-page__products-side-menu .filter-by p button,
.laptop-page__products-side-menu .filter-by p button,
.tv-page__products-side-menu .filter-by p button,
.headphone-page__products-side-menu .filter-by p button {
  border: none;
  background: transparent;
  font-size: 20px;
}

.mobile-page__products-side-menu .input-group,
.laptop-page__products-side-menu .input-group,
.tv-page__products-side-menu .input-group,
.headphone-page__products-side-menu .input-group {
  display: flex;
  direction: rtl;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1px;
}

.input-group-btn {
  width: 100%;
  height: 35px;
  font-family: iransans;
  font-size: 11px;
  border-radius: 0px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  transition: 0.4s border, 0.4s color;
  border: none;
  margin-bottom: 1px;
}
.input-group-btn-active {
  color: rgba(0, 0, 0, 1);
  outline: 1px solid rgba(0, 0, 0, 1);
}

.filter-title {
  text-align: center;
  margin-bottom: 30px;
}

.mobile-page__products-show,
.laptop-page__products-show,
.tv-page__products-show,
.headphone-page__products-show {
  border-radius: 10px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.input-price-group {
  padding: 10px;
}

.product {
  border: 1px solid #dcdddf;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-height: 500px;
  background-color: #fff;
}

.product figure {
  width: 100%;
  height: 70%;
}

.product figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product .product__name {
  font-size: 12px;
  padding: 0 25px;
  font-weight: bold;
  height: 55px;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
}

.product__price-on {
  font-size: 12px;
  color: #707c87;
  text-decoration: line-through;
  margin-bottom: -5px;
}

.product__price-on span {
  font-size: 9px;
}
.product__price-offer {
  font-size: 22px;
  color: var(--main-bg-color);
}

.product__price-offer span {
  font-size: 14px;
}

.product__footer-link a {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-accent-color);
  font-size: 20px;
  padding-top: 5px;
  z-index: 2;
  position: relative;
}

.product__footer-link a:link,
.product__footer-link a:visited,
.product__footer-link a:focus {
  color: var(--main-accent-color);
  text-decoration: none;
}

.product__off {
  background-color: var(--main-bg-color);
  position: absolute;
  color: var(--main-accent-color);
  padding: 5px;
  border-radius: 12px;
  width: 50px;
  font-size: 9px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 20px;
  font-weight: bold;
}

.product__btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.product__btns button {
  background: none;
  border: 1px solid #a6adb3;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #fff;
  position: absolute;
}

.product__btns button:first-child {
  top: 20px;
  right: 0px;
  opacity: 0;
  transition: 0.5s right, 0.2s opacity;
}
.product__btns button:last-child {
  top: 55px;
  right: 0px;
  opacity: 0;
  transition: 0.7s right, 0.2s opacity;
}

.product__btns:hover button {
  right: 20px;
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #a6adb3;
  background-color: #fff;
}
.pagination button.active {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 2px solid var(--main-bg-color);
}

.modal-btn {
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding-top: 5px;
  margin-right: auto;
  display: none;
  transition: 0.5s transform;
  margin-left: 25px;
}

.modal-btn-active {
  transform: rotate(90deg);
}

@media (max-width: 1250px) {
  .mobile-page__products-show,
  .laptop-page__products-show,
  .tv-page__products-show,
  .headphone-page__products-show {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 950px) {
  .mobile-page__products-show,
  .laptop-page__products-show,
  .tv-page__products-show,
  .headphone-page__products-show {
    border-radius: 15px;
  }
  .modal-btn {
    display: block;
  }
  .mobile-page__products-side-menu-modal-active,
  .laptop-page__products-side-menu-modal-active,
  .tv-page__products-side-menu-modal-active,
  .headphone-page__products-side-menu-modal-active {
    position: sticky;
    z-index: 22;
    border-radius: 15px;
  }
  .mobile-page__products-side-menu-modal-diactive,
  .laptop-page__products-side-menu-modal-diactive,
  .tv-page__products-side-menu-modal-diactive,
  .headphone-page__products-side-menu-modal-diactive {
    display: none;
  }
  .mobile-page__products,
  .laptop-page__products,
  .tv-page__products,
  .headphone-page__products {
    grid-template-columns: 1fr;
  }
  .product-counter {
    display: none;
  }
  .page-address {
    padding: 5px 25px;
  }
  .head-menu {
    padding: 5px 25px;
  }
}

@media (max-width: 550px) {
  .mobile-page__products-show,
  .laptop-page__products-show,
  .tv-page__products-show,
  .headphone-page__products-show {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.product-info {
  max-width: 1200px;
  margin: 0 auto;
}

.product-info__intro {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  direction: rtl;
}

.product-info__intro figure {
  width: 100%;
  height: 100%;
  border: 1px solid #dcdddf;
}

.product-info__intro figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info___intro-content {
  padding: 0px 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-info___intro-content h1 {
  font-weight: normal;
  font-size: 25px;
  margin-top: 15px;
}

.product-info__existence {
  padding: 15px;
  font-size: 13px;
  color: green;
  direction: ltr;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: flex-end;
}

.product-info__price-off {
  font-size: 30px;
  color: red;
}
.product-info__price-on {
  color: #707c87;
  text-decoration: line-through;
}
.product-info__buy-cart {
  border: 1px solid #dcdddf;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 15px;
  height: 90px;
}
.product-info__buy-cart .counter {
  display: flex;
  border: 1px solid #dcdddf;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.product-info__buy-cart .counter button {
  width: 30%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.add-to-cart {
  font-family: iransans;
  font-size: 11px;
  width: 130px;
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
}

.add-to-cart-icon {
  font-size: 18px;
}
.add-to-wish-list {
  background-color: transparent;
  border: none;
  margin-right: 60px;
  font-family: iransans;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.product-info__categories {
  margin-top: 5px;
  font-size: 12px;
}

.product-info__price {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.product-info__price div {
  font-size: 35px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.product-info__price div .product-reviews {
  font-size: 20px;
  margin-left: 5px;
  padding-top: 5px;
  color: #a6adb3;
}

.product-info___intro-content ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 15px;
  list-style-type: square;
}
.product-info .product-info___intro-content .social-media-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  color: var(--main-bg-color);
  list-style-type: none;
}

.shop-cart {
  max-width: 1500px;
  margin: 0 auto;
}
.shop-cart h1 {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #a6adb3;
}
.shop-cart-products {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  border-bottom: 1px solid #a6adb3;
  padding: 50px 30px;
  margin: 0 auto;
}

.shop-cart-item {
  height: 110px;
  border: 1px solid #dcdddf;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  direction: rtl;
  border-radius: 5px;
  position: relative;
}
.shop-cart-item .remove-item {
  background-color: transparent;
  border: none;
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  color: red;
}

.shop-cart-item figure {
  width: 150px;
  height: 100%;
}
.shop-cart-item .info {
  display: flex;
  width: 80%;
}
.shop-cart-item .info .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
}
.shop-cart-item .info .content .name {
  font-size: 16px;
  font-weight: bold;
}
.shop-cart-item .info .content .price {
  font-size: 15px;
}

.shop-cart-item figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shop-cart-item .counter-section {
  display: flex;
  height: 90%;
  margin: auto 0;
  width: 50px;
  align-items: space-between;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
}

.shop-cart-item .counter-section button {
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.shop-cart-item .counter-section p {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

.shop-cart-total-price {
  margin: 25px 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.shop-cart-total-price p {
  font-size: 22px;
}

.shop-cart-total-price button {
  height: 100%;
}

@media (max-width: 1350px) {
  .shop-cart-products {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
