* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #041e42;
  --main-text-color: #fff;
  --main-accent-color: #ffcd29;
  --secondry-text-color: #707c87;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@font-face {
  font-family: iransans;
  src: url(./assets/iransans.ttf);
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: iransans;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  direction: rtl;
}

.top-head {
  display: flex;
  padding: 20px 250px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logo {
  font-size: 35px;
  gap: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: var(--main-accent-color);
}

.header-options {
  display: flex;
  gap: 25px;
  margin-right: auto;
  align-items: center;
}

.HeaderOption {
  display: flex;
  gap: 10px;
}

.HeaderOptionIcon {
  font-size: 30px;
  color: var(--secondry-text-color);
}
.HeaderOptionContent {
  font-size: 10px;
  line-height: 1.5;
}

.search-product {
  height: 35px;
  display: flex;
  gap: 5px;
}

.search-product input {
  width: 600px;
  border-radius: 2px;
  border: none;
  padding-right: 15px;
  font-family: iransans;
}

.search-product button {
  width: 100px;
  border-radius: 2px;
  border: none;
  background-color: var(--main-accent-color);
  color: var(--main-text-color);
  font-family: iransans;
  font-size: 13px;
}

.nav__user-tophead {
  display: none;
}

@media (max-width: 1115px) {
  .header-options {
    display: none;
  }
  .search-product input {
    width: 100%;
    border: 1px solid red;
  }
  .search-product {
    width: 40%;
  }
  .logo {
    width: 40%;
  }
  .top-head {
    padding: 25px;
  }
}

@media (max-width: 950px) {
  .logo {
    width: 25%;
  }
  .search-product {
    width: 50%;
  }
  .top-head {
    gap: 5px;
    justify-content: space-around;
  }
  .nav__user-tophead {
    display: flex;
    width: 15%s;
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .search-product input {
    display: none;
  }

  .search-product button {
    display: none;
  }
  .logo {
    width: 40%;
  }
  .nav__user-tophead {
    width: 50% !important;
  }
}

/*-----NAV-----*/

.nav {
  background-color: var(--main-bg-color);
  display: flex;
  padding: 0px 150px;
  gap: 15px;
  height: 50px;
  border-top: 1px solid #40464c;
  border-bottom: 1px solid #40464c;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 11px;
}

.nav__list {
  width: 70%;
  border-left: 1px solid #40464c;
}

.nav-item a {
  text-decoration: none;
  color: var(--main-text-color);
}
.nav-item {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav-item__active {
  width: 0%;
  height: 2px;
  background-color: #ffcd29;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: 0.5s width;
}

.nav-item:hover .nav-item__active {
  width: 100%;
}

.nav button {
  height: 100%;
  color: #fff;
  background-color: var(--main-accent-color);
  border: none;
  font-family: iransans;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-nav__icon {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 30px;
  align-items: center;
  height: 100%;
}

.user-nav__counter {
  position: absolute;
  background-color: var(--main-accent-color);
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: -3px;
  color: var(--main-bg-color);
}

.nav__user {
  width: 20%;
}

.modal-btns {
  display: flex;
}

.search-modal-open {
  display: none !important;
}

@media (max-width: 1250px) {
  .nav {
    padding: 0px 25px;
  }
}
@media (max-width: 1050px) {
  .nav-item {
    width: 50px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .nav .nav__user {
    display: none;
  }
  .nav .nav__list {
    border: none;
    justify-content: space-around;
    gap: 0;
    width: 80%;
  }
  .nav-item {
    width: 70px;
  }
}

@media (max-width: 700px) {
  .nav {
    justify-content: space-between;
  }
  .nav__list {
    display: none !important;
  }
  .search-modal-open {
    display: flex !important;
    background: none !important;
    font-size: 25px;
    width: 50px !important;
  }
}

/*-------LANDING PAGE--------*/

.landing-page__hero {
  display: block;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.landing-page__hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right;
}

@media (max-width: 700px) {
  .landing-page__hero {
    height: 500px;
  }
}

main {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  right: 7px;
}

.brands {
  display: flex;
  height: 100px;
  justify-content: flex-start;

  flex-wrap: nowrap;
  width: 3000px;
  position: absolute;
  left: 0;
  animation: brands-slide 100s infinite forwards linear;
}

@keyframes brands-slide {
  0% {
    left: 0px;
  }
  100% {
    left: -2000px;
  }
}
.brand {
  width: 700px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.animation-brands {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 100px;
  position: relative;
}
.animation-brands::-webkit-scrollbar {
  display: none;
}
.top-trends {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  gap: 15px;
}

.top-trends img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .top-trends {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
  }
}
